.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: "RalewayLight"; 
  src: url("fonts/Raleway-SemiBold.ttf") format("truetype"); 
}

.img {
  width: 100vh;
}

.App-link {
  color: #61dafb;
}




.container-w1 {
  display: flex;
  align-items: center;
  width: 90%;
  padding-top: 5%;
  padding-left: 5%;
}

